<article id="xmas" class="middle">
  <div class="countdown">
    <h1 class="heading">
      Christmas Countdown
    </h1>
    <h2>
      {{ days }} Day<span ngIf="days != 1" >s </span>
    </h2>
    <h3>
      {{ hours }} Hour<span ngIf="hours != 1" >s </span>
    </h3>
    <h4>
      {{ minutes }} Minute<span ngIf="minutes != 1" >s </span>
    </h4>
    <h5>
      {{ seconds }} Second<span ngIf="seconds != 1" >s </span>
    </h5>
  </div>
  <img class="tree" src="tree.png" alt="Christmas Tree">
  <div class="scripture" [innerHTML]="chosenVer"></div>
</article>