<article id="xmas" class="page">
  @if (itsChristmasDay == false) {
  <div class="countdown">
    <div class="heading">
    <h1 >
      Christmas Countdown
    </h1>
    </div>
    <h2>
      {{ days }} Day<span ngIf="days != 1" >s </span>
    </h2>
    <div class="countdownGrid">
        <h3>{{ hours }}</h3>
        <h3>{{ minutes }}</h3>
        <h3>{{ seconds }}</h3>
        <h4>Hour@if (hours != 1) {s}</h4>
        <h4>Minute@if (minutes != 1) {s}</h4>
        <h4>Second@if (seconds != 1) {s}</h4>
    </div>
  </div>
  } 
  @else {
    <h1 class="christmasDay"> CHRISTMAS DAY</h1>
  }
  <img class="tree" src="xmasTrees.png" alt="Christmas Tree">
  <div class="scripture" [innerHTML]="chosenVer"></div>
</article>